@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&display=swap");

.Works {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6rem)) 1fr;
  min-height: 100vh;
  overflow: hidden;
}

.intro-text {
  grid-column: 1/15;
  max-width: 700px;
  color: white;
  opacity: 80%;
  text-align: left;
  padding: 0 2rem;
  justify-self: end;
}

.projects-section {
  grid-column: 2/14;
  margin-top: 80px;
  padding: 0 4rem;
}

.heading-1 {
  font-size: 40px;
  text-align: start;
  letter-spacing: -2px;
  font-family: "Josefin Sans", sans-serif;
}

.heading-1 span {
  background: linear-gradient(90deg, #61d458 0%, #7cb8d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  color: gray;
  margin-top: 5px;
  margin-bottom: 70px;
  font-size: 20px;
  text-align: start;
  font-family: "Raleway", sans-serif;
}

.main-project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-project-card-2 {
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.main-project-card-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-card {
  border: 0.1rem solid #32364d;
  width: 500px;
  height: 500px;
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  background: rgb(22, 36, 50);
  background: linear-gradient(
    180deg,
    rgba(22, 36, 50, 1) 0%,
    rgba(0, 14, 28, 1) 100%
  );
  transition: transform 0.3s ease;
  margin-left: 50px;
}

.main-project-card::before {
  content: "ONE";
  display: block;
  position: relative;
  top: 3rem;
  float: right;
  width: 150px;
  background: linear-gradient(112deg, #bb6d84 0%, #eef18d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
}

.main-project-card-2::before {
  content: "TWO";
  display: block;
  position: relative;
  top: 3rem;
  width: 150px;
  background: linear-gradient(112deg, #bb6d84 0%, #eef18d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
}

.main-project-card-3::before {
  content: "THREE";
  display: block;
  position: relative;
  top: 3rem;
  float: right;
  width: 205px;
  background: linear-gradient(112deg, #bb6d84 0%, #eef18d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
}

.img-div {
  width: 500px;
  height: 500px;
  position: relative;
  top: -100px;
  left: 60px;
  transition: all 0.2s;
}

.image-1 {
  width: 100%;
  border-top-left-radius: 30px;
}

.image-text {
  position: relative;
  bottom: 220px;
  font-size: 60px;
  color: #64ffda;
  opacity: 0;
  font-family: "Josefin Sans", sans-serif;
  transition: opacity 0.3s ease;
}

.project-card:hover .img-div {
  transform: translate(-60px, -65px);
}

.project-card:hover .image-1 {
  filter: brightness(70%);
}

.project-card:hover .image-text {
  opacity: 1;
}

.card-h1 {
  color: white;
  position: relative;
  top: 12px;
  left: 40px;
}

.card-h3 {
  color: #8b8b8b;
  position: relative;
  top: 160px;
  left: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* second card */

.project-card-2 {
  border: 0.1rem solid #32364d;
  width: 400px;
  height: 400px;
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(22, 36, 50, 1) 0%,
    rgba(0, 14, 28, 1) 100%
  );
  transition: transform 0.3s ease;
  margin-right: 50px;
}

.img-div-2 {
  width: 400px;
  height: 400px;
  position: relative;
  top: -100px;
  right: 60px;
  transition: all 0.2s;
}
.image-2 {
  width: 102%;
  border-top-right-radius: 30px;
}

.image2-text {
  position: relative;
  bottom: 200px;
  font-size: 60px;
  color: cyan;
  font-family: "Josefin Sans", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card-2:hover .img-div-2 {
  transform: translate(60px, -65px);
}

.project-card-2:hover .image-2 {
  filter: brightness(70%);
}

.project-card-2:hover .image2-text {
  opacity: 1;
}

.card2-h1 {
  color: white;
  position: relative;
  top: 12px;
  left: -40px;
}

.card2-h3 {
  color: #8b8b8b;
  position: relative;
  top: 120px;
  float: right;
  right: 12px;
  writing-mode: vertical-rl;
}

/* third card */

.project-card-3 {
  border: 0.1rem solid #32364d;
  width: 550px;
  height: 550px;
  border-radius: 30px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background: rgb(22, 36, 50);
  background: linear-gradient(
    180deg,
    rgba(22, 36, 50, 1) 0%,
    rgba(0, 14, 28, 1) 100%
  );
  transition: transform 0.3s ease;
  margin-left: 50px;
}
.img-div-3 {
  width: 550px;
  height: 550px;
  position: relative;
  top: -100px;
  left: 60px;
  transition: all 0.2s;
}
.image-1 {
  width: 102%;
  border-top-left-radius: 30px;
}

.project-card-3:hover .img-div-3 {
  transform: translate(-60px, -65px);
}

.project-card-3:hover .image-1 {
  filter: brightness(70%);
}

.project-card-3:hover .image-text {
  opacity: 1;
}

.card3-h1 {
  color: white;
  position: relative;
  top: 12px;
  left: 30px;
}

.card3-h3 {
  color: #8b8b8b;
  position: relative;
  top: 200px;
  left: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* fact text styles */

.fact-text {
  font-size: 18px;
  color: white;
  opacity: 80%;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 40px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fact-text span {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-family: 16px;
  color: #64ffda;
}

@media only screen and (max-width: 780px) {
  .projects-section {
    grid-column: 1/15;
  }
  .intro-text {
    justify-self: start;
    font-size: 13px;
  }
  .intro-text br {
    display: none;
  }
  .heading-1 {
    font-size: 30px;
  }
  .para {
    margin-bottom: 50px;
  }
  .main-project-card {
    align-items: center;
  }
  .main-project-card::before {
    left: -11rem;
  }
  .main-project-card-2 {
    align-items: center;
  }
  .main-project-card-2::before {
    right: -11rem;
  }
  .main-project-card-3 {
    align-items: center;
  }
  .main-project-card-3::before {
    left: -11rem;
  }
  .project-card {
    width: 400px;
    height: 400px;
    margin: 0px;
  }
  .img-div {
    width: 400px;
    height: 400px;
  }
  .project-card-2 {
    margin: 0px;
  }
  .project-card-3 {
    width: 400px;
    height: 400px;
    margin: 0px;
  }
  .img-div-3 {
    width: 400px;
    height: 400px;
  }

  .card-h3 {
    top: 125px;
  }

  .card3-h3 {
    top: 125px;
  }
}

@media only screen and (max-width: 570px) {
  .projects-section {
    padding: 0 2rem;
  }
  .heading-1 {
    font-size: 24px;
  }
  .para {
    font-size: 19px;
  }
  .project-card {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
  }
  .img-div {
    width: 350px;
    height: 350px;
  }
  .project-card-2 {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
  }
  .img-div-2 {
    width: 350px;
    height: 350px;
  }
  .project-card-3 {
    width: 350px;
    height: 350px;
  }
  .img-div-3 {
    width: 350px;
    height: 350px;
  }
  .main-project-card::before {
    top: 2rem;
    left: -6rem;
  }
  .main-project-card-2 {
    align-items: center;
  }
  .main-project-card-2::before {
    top: 2rem;
    right: -6rem;
  }
  .main-project-card-3 {
    align-items: center;
  }
  .main-project-card-3::before {
    top: 2rem;
    left: -6rem;
  }
}

@media only screen and (max-width: 400px) {
  .projects-section {
    padding: 0 1rem;
  }
  .heading-1 {
    font-size: 21px;
  }
  .para {
    font-size: 16px;
  }
  .project-card {
    width: 300px;
    height: 300px;
  }
  .img-div {
    width: 300px;
    height: 300px;
  }
  .main-project-card::before {
    left: -4rem;
    top: 1rem;
  }
  .card-h1 {
    font-size: 20px;
    left: 1rem;
  }
  .card-h3 {
    top: 80px;
  }
  .project-card-2 {
    width: 300px;
    height: 300px;
  }
  .img-div-2 {
    width: 300px;
    height: 300px;
  }
  .main-project-card-2::before {
    right: -4rem;
    top: 1rem;
  }
  .card2-h3 {
    top: 80px;
  }
  .project-card-3 {
    width: 300px;
    height: 300px;
  }
  .img-div-3 {
    width: 300px;
    height: 300px;
  }
  .main-project-card-3::before {
    left: -3rem;
    top: 1rem;
  }
  .card3-h3 {
    top: 80px;
  }
}
