@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@700&display=swap");

.Works {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6rem)) 1fr;
  min-height: 100vh;
  overflow: hidden;
}

.pro-texts {
  grid-column: 2/14;
  padding: 0 4rem;
}

.intro-text {
  max-width: 700px;
  color: rgb(192, 192, 192);
  opacity: 80%;
  text-align: left;
  margin-bottom: 12rem;
  font-family: second-font;
  font-weight: 400;
}

.heading-1 {
  font-size: 40px;
  text-align: start;
  letter-spacing: -2px;
  font-family: body-font;
}

.heading-1 span {
  background: linear-gradient(90deg, #B2F2F0 0%, #FECFDF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  color: gray;
  margin-top: 5px;
  font-size: 20px;
  text-align: start;
}

.projects-section {
  grid-column: 2/14;
  padding: 0 4rem;
}

.pro-num {
  position: absolute;
  top: -40px;
  right: -20px;
}

.pro-card {
  width: 80%;
  background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
  border: 1px solid #20222e;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(54px);
  backdrop-filter: blur(54px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4rem;
  padding: 4rem;
  margin: 10rem auto;
  position: relative;
}

.card-left{
  color: #8b8b8b;
  transform: rotate(180deg);
  font-family: third-font;
  text-transform: uppercase;
  word-spacing: 5px;
  font-size: 13px;
  writing-mode: tb-rl;
  letter-spacing: 2px;
  margin-right: 4rem;
}

.card-middle {
  width: 20rem;
  height: 27rem;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  border: none;
}

.card-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: .3s;
}

.active {
  z-index: 1;
}

.card-middle:hover .active {
  opacity: 0;
}

.card-right {
  color: white;
  margin-left: 4rem;
  text-align: left;
}

.card-title {
  font-family: body-font;
  font-size: 2.8rem;
  line-height: 50px;
  padding-bottom: 70px;
}

.card-right > a {
  font-size: 17px;
  color: rgb(207, 207, 207);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

@media only screen and (max-width: 1142px) {
  .card-left {
    display: none;
  }

  .pro-card {
    width: 70%;
    flex-direction: column;
    padding: 3rem;
  }

  .card-middle {
    height: 21rem;
    width: 18rem;
    border-radius: 2.5rem;
  }

  .card-title {
    padding-bottom: 30px;
    font-size: 2.2rem;
    line-height: 40px;
  }

  .card-right {
    align-self: flex-start;
    margin: 0;
    margin-top: 20px;
  }
  .card-right > a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 780px) {
  .projects-section {
    grid-column: 1/15;
  }
  .intro-text {
    justify-self: start;
    font-size: 13px;
  }
  .intro-text br {
    display: none;
  }
  .heading-1 {
    font-size: 30px;
  }
  .pro-card {
    width: 85%;
  }
  .card-middle {
    width: 15rem;
    height: 21rem;
  }
  .pro-num {
    width: 7rem;
  }
}

@media only screen and (max-width: 570px) {
  .pro-texts {
    padding: 0 2rem;
  }
  .intro-text {
    margin-bottom: 8rem;
  }
  .projects-section {
    padding: 0 2rem;
  }
  .heading-1 {
    font-size: 24px;
  }
  .para {
    font-size: 19px;
  }
  .pro-card {
    width: 90%;
    padding: 2rem;
    border-radius: 2.3rem;
    margin: 8rem auto;
  }
  .card-middle {
    width: 14rem;
    height: 19rem;
  }
  .card-title {
    font-size: 1.8rem;
    line-height: 30px;
  }
  .pro-num {
    width: 5rem;
  }
  .card-right > a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .pro-texts {
    padding: 0 1rem;
  }
  .projects-section {
    padding: 0 1rem;
  }
  .heading-1 {
    font-size: 21px;
  }
  .para {
    font-size: 16px;
  }
}