.App {
  text-align: center;
}

progress {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-moz-progress-bar {
    background: linear-gradient(90deg, #0BD9D2 0%, #FF41D9 100%);
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, #0BD9D2 0%, #FF41D9 100%);
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
