body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: body-font;
  src: url(./Styles/Fonts/MarkPro-Heavy.f9372e73.woff);
}

@font-face {
  font-family: second-font;
  src: url(./Styles//Fonts/CircularStd-Book.205e19c8.woff);
}

@font-face {
  font-family: third-font;
  src: url(./Styles/Fonts/D-DINCondensed-Bold.965ab944.woff);
}